h1 {
    color: darkolivegreen;
    font-size: 3rem;
}

body {
    background-color: none;
}


#home-container {
    height: 100vh;
    position: relative;
    background: url(/static/images/exterior-01.jpg) no-repeat center center fixed;
    background-size: cover;
    justify-content: center;
}

.div-1 {
    background-color: blueviolet;
}

.div-2 {
    background-color: yellow;
}

.div-3 {
    background-color: green;
}


p {
    color: red;
    font-size: 1rem;
}

.image {
    width: 80%;
    height: auto;
    margin-bottom: 1rem;
}